{% extends "OCPlatformBundle::layout.html.twig" %}

{% block body %}
    <h2>Ajouter une annonce</h2>
    {{ include('OCPlatformBundle:Advert:form.html.twig') }}

    <p>
        Attention : cette annonce sera ajoutée directement sur la page d'accueil après validation du fomulaire
    </p>

{% endblock %}