
{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %}
    Lecture d'une annonce -- {{ parent() }}
{% endblock %}

{% block ocplatform_body %}
    <h2>{{ advert.title }}</h2>
    <i> Par {{ advert.author }}, le {{ advert.date|date('d/m/Y')}}</i>
    
    <div class="well">
        {{ advert.content }}
    </div>
    
    <p>
        <a href="{{ path('oc_platform_home') }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left">
                retour à la liste
            </i>
        </a>
        <a href="{{ path('oc_platform_edit', {'id':advert.id}) }}" class="btn btn-default">
            <i class="glyphicon glyphicon-edit">
                modifier l'annonce
            </i>
        </a> 
            <a href="{{ path('oc_platform_delete', {'id':advert.id}) }}" class="btn btn-danger">
            <i class="glyphicon glyphicon-trash">
                supprimer l'annonce
            </i>
        </a>
    </p>
{% endblock %}